table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color: rgba(175, 203, 255, 1); 
}

tbody tr:nth-child(odd) {
    background-color: rgba(244, 247, 245, 1); 
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(175, 203, 255, 1); 
    color: white;
}

.encabezado-horario {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.horario{
    text-align: center;
}